[Unit]
Description=PostgreSQL WAL streaming service for pg_receivewal

[Service]
ExecStart={{ pgbin }}/pg_receivewal -D {{ pgbkup }}/wal_logs --slot=backup_server_slot --host={{ db_ip }} --port={{ pgport }} --user={{ backupuser }} --synchronous
Restart=always
User={{ pguser }}
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
